.archive {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-top: clamp(80px, 15vw, 220px);
  padding-left: 11.35vw;
  margin-bottom: 9%;
  gap: 32px;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.5vw, 50px);
    padding-right: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(16px, 2.2vw, 32px);
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    color: var(--color-beige-100);
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }

  &__controls {
    display: flex;
    gap: clamp(8px, 1.1vw, 16px);
  }

  &__slider {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__slider-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    transition: transform 0.5s ease;
    width: auto;
    flex-wrap: nowrap;
  }

  &__filters {
    display: flex;
    gap: 24px;
  }

  &__filter {
    display: flex;
    align-items: center;
    max-width: fit-content;
    width: 100%;
    border-radius: 8px;
    font-size: clamp(12px, 2vw, 18px);
    line-height: 1.2;
    letter-spacing: -0.03em;
    padding: 24px;
    gap: 24px;
    cursor: pointer;
    transition: all 0.3s ease;

    p {
      color: var(--color-brown-300);
      text-transform: uppercase;
    }

    span {
      color: var(--color-beige-300);
    }

    &.heart {
      background-color: var(--color-beige-100);
    }

    &.bird {
      background-color: var(--color-warm-beige);
    }

    &.medal {
      background-color: var(--color-warm-white);
    }

    &:hover {
      transform: scale(1.03);
    }

    &.active {
      background-color: var(--color-beige-200);
    }
  }
}

.archive-card {
  flex: 0 0 100%;
  max-width: calc((85vw) / 4);
  background-color: var(--color-warm-white);
  display: flex;
  flex-direction: column;
  padding: clamp(16px, 3vw, 24px);
  justify-content: space-between;
  gap: 20px;

  img {
    width: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__year {
    font-style: italic;
    color: var(--color-brown-300);
    line-height: 1.2;
    font-size: clamp(14px, 1.5vw, 16px);
  }

  &__description {
    font-style: italic;
    color: var(--color-beige-300);
    font-size: 16px;
    line-height: 1.2;
    flex: 1;
    min-height: 2.4em;
  }
}

@media (max-width: 1024px) {
  .archive-card {
    flex: 0 0 100%;
    max-width: calc(85vw / 2);
  }
}

@media (max-width: 768px) {
  .archive {
    padding-left: 16px;

    &__filters {
      gap: 4px;
      padding-right: 16px;
    }

    &__filter {
      padding: 6px;
      gap: 4px;
      border-radius: 4px;

      img {
        width: 14px;
        height: 12px;
      }
    }

    &__slider-container {
      gap: 12px;
    }

    &__header {
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
      margin: 0;
    }

    &__container {
      padding-right: 0;
    }
  }
}

@media (max-width: 430px) {
  .archive-card {
    flex: 0 0 100%;
    max-width: 80vw;
  }
}
