.button__arrow {
  width: clamp(32px, 5vw, 50px);
  height: clamp(32px, 5vw, 50px);
  border: none;
  border-radius: clamp(4px, 0.5vw, 8px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: clamp(12px, 1.5vw, 16px);
    height: clamp(12px, 1.5vw, 16px);
  }

  &.right {
    img {
      transform: rotate(0);
    }
  }

  &.left {
    img {
      transform: rotate(180deg);
    }
  }

  &.down {
    img {
      transform: rotate(90deg);
    }
  }

  &.brown {
    background: var(--color-brown-100);
  }

  &.beige {
    background: var(--color-beige-300);
  }

  &.small {
    width: 32px;
    height: 32px;
    border-radius: 4px;

    img {
      width: 12px;
      height: 12px;
    }
  }
}

@media (max-width: 768px) {
  .button__arrow {
    &.right,
    &.left,
    &.down {
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}
