.button__arrow {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.right {
    img {
      transform: rotate(0);
    }
  }

  &.left {
    img {
      transform: rotate(180deg);
    }
  }

  &.down {
    img {
      transform: rotate(90deg);
    }
  }

  &.brown {
    background: var(--color-brown-100);
  }

  &.beige {
    background: var(--color-beige-300);
  }

  &.small {
    width: 32px;
    height: 32px;
    border-radius: 4px;

    img {
      width: 12px;
      height: 12px;
    }
  }
}

@media (max-width: 768px) {
  .button__arrow {
    width: 32px;
    height: 32px;
    border-radius: 4px;

    &.right,
    &.left {
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}
