.card {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  min-width: clamp(182px, 21vw, 400px);
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 32px);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &__header {
    text-align: center;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: clamp(16px, 3vw, 36px);
    letter-spacing: -0.04em;
    color: var(--color-brown-200);
    margin: 32px 0 8px 0;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: clamp(12px, 1vw, 16px);
    letter-spacing: -0.03em;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__image {
    img {
      width: clamp(120px, 16vw, 266px);
      height: clamp(200px, 28vw, 400px);
      object-fit: cover;
      display: block;
      mask-image: url("../assets/masks/old-paper-mask.png");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("../assets/masks/old-paper-mask.png");
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
  }

  &__description {
    text-align: center;
    font-size: clamp(12px, 1vw, 18px);
    line-height: 1.1;
    color: var(--color-brown-300);

    &--event {
      font-size: clamp(12px, 1vw, 22px);
      text-align: center;
    }
  }

  &__footer {
    height: clamp(80px, 9vw, 171px);
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 4vw, 74px);
    justify-content: flex-end;
  }

  &__date {
    text-align: center;
    font-size: clamp(8px, 1vw, 18px);
    line-height: 1;
    color: var(--color-brown-200);
  }
}

.card.theme-beige {
  background: var(--color-beige-100);
}

.card.theme-warm-white {
  background: var(--color-warm-white);
}

.card.theme-warm-beige {
  background: var(--color-warm-beige);
}

.cards {
  &__wrapper {
    width: 100%;
    flex-grow: 1;
    min-width: 0;
  }

  &__slider {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: auto;

    &_container {
      display: flex;
      gap: 16px;
      position: relative;

      &::after {
        content: "";
        display: block;
        min-width: 1px;
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    border-radius: 4px;
    padding: 12px;
    max-height: 444px;

    &__header {
      img {
        max-width: 120px;
        width: 100%;
      }
    }
  }

  .cards {
    &__slider {
      &_container {
        margin: 0 0 16px 16px;
      }
    }
  }
}
