.card {
  padding: 20px 0;
  border-radius: 8px;
  display: flex;
  min-width: 400px;
  flex: 1;
  align-items: center;
  height: calc(100vh - 32px);
  justify-content: center;

  &:last-child {
    margin-right: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 3.6rem;
    letter-spacing: -0.04em;
    color: var(--color-brown-200);
    margin: 32px 0 8px 0;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.6rem;
    letter-spacing: -0.03em;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__image {
    display: flex;
    justify-content: center;

    img {
      object-fit: cover;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.1;
    color: var(--color-brown-300);

    &--event {
      font-size: 2.2rem;
      text-align: center;
      white-space: pre-line;
    }
  }

  &__footer {
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 74px;
    justify-content: flex-end;
  }

  &__date {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--color-brown-200);
  }
}

.card.theme-beige {
  background: var(--color-beige-100);
}

.card.theme-warm-white {
  background: var(--color-warm-white);
}

.card.theme-warm-beige {
  background: var(--color-warm-beige);
}

.cards {
  &__wrapper {
    width: 100%;
  }

  &__slider {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    touch-action: pan-x;
    display: flex;
    align-items: stretch;
    gap: 16px;

    &::-webkit-scrollbar {
      display: none;
    }

    &_container {
      display: flex;
      gap: 16px;
    }
  }
}
