.card {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  min-width: clamp(182px, 20.83vw, 400px);
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 32px);

  &:last-child {
    margin-right: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &__header {
    text-align: center;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 3.6rem;
    letter-spacing: -0.04em;
    color: var(--color-brown-200);
    margin: 32px 0 8px 0;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.6rem;
    letter-spacing: -0.03em;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__image {
    img {
      width: clamp(120px, 16vw, 240px);
      height: clamp(200px, 28vw, 400px);
      object-fit: cover;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.1;
    color: var(--color-brown-300);

    &--event {
      font-size: 2.2rem;
      text-align: center;
      white-space: pre-line;
    }
  }

  &__footer {
    height: clamp(80px, 8.33vw, 160px);
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.85vw, 74px);
    justify-content: flex-end;
  }

  &__date {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--color-brown-200);
  }
}

.card.theme-beige {
  background: var(--color-beige-100);
}

.card.theme-warm-white {
  background: var(--color-warm-white);
}

.card.theme-warm-beige {
  background: var(--color-warm-beige);
}

.cards {
  &__wrapper {
    width: 100%;
    flex-grow: 1;
    min-width: 0;
  }

  &__slider {
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    gap: 16px;

    &::-webkit-scrollbar {
      display: none;
    }

    &_container {
      display: flex;
      gap: 16px;
    }
  }
}

@media (max-width: 768px) {
  .card {
    border-radius: 4px;
    padding: 12px;
    max-height: 444px;

    &__header {
      img {
        max-width: 120px;
        width: 100%;
      }
    }

    &__title {
      font-size: 1.6rem;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__description {
      font-size: 1.2rem;

      &--event {
        font-size: 1.2rem;
      }
    }

    &__date {
      font-size: 0.8rem;
    }
  }

  .cards {
    &__slider {
      &_container {
        margin: 0 0 16px 16px;
      }
    }
  }
}
