.contribution {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  margin-top: 12%;
  padding-left: 11.35vw;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(32px, 5vw, 40px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(16px, 2.2vw, 32px);
    padding-right: 16px;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    color: var(--color-beige-100);
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }

  &__controls {
    display: flex;
    gap: clamp(8px, 1.1vw, 16px);
  }

  &__slider {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 16px;
  }

  &__slider-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    transition: transform 0.5s ease;
    width: auto;
  }
}

.contribution-card {
  position: relative;
  flex: 0 0 100%;
  max-width: calc((85.5vw) / 4);
  height: clamp(334px, 27vw, 456px);
  background-color: var(--color-beige-100);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: clamp(24px, 3vw, 32px);
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    background-image: url("../assets/icons/multimedia_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 0;
  }

  &__clip {
    position: absolute;
    top: -3%;
    right: 50%;
    transform: translateX(-50%);
    height: auto;
  }

  &__number {
    position: relative;

    p {
      font-size: 18px;
      color: var(--color-brown-300);
      line-height: 1.2;
      font-weight: 600;
      letter-spacing: -0.03em;
    }
  }

  &__description {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;

    p {
      font-size: clamp(14px, 2vw, 18px);
      color: var(--color-brown-300);
      line-height: 1.1;
    }
  }

  &__stamp {
    position: relative;
    align-self: flex-end;

    img {
      width: clamp(80px, 9vw, 129px);
      height: auto;
    }
  }
}

@media (max-width: 1024px) {
  .contribution-card {
    flex: 0 0 100%;
    max-width: calc(85vw / 2);
  }
}

@media (max-width: 768px) {
  .contribution {
    padding-left: 16px;

    &__slider-container {
      gap: 12px;
    }

    &__header {
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
      margin: 0;
    }
  }
}

@media (max-width: 430px) {
  .contribution-card {
    flex: 0 0 100%;
    max-width: 80vw;
  }
}
