.factories-map {
  background-color: var(--color-beige-100);
  border-radius: 8px;
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    gap: 24px;
  }

  &__title {
    font-size: 6rem;
    letter-spacing: -0.04em;
    color: var(--color-brown-200);
    text-transform: uppercase;
    line-height: 1;
  }

  &__filters {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__map {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .factories-map {
    padding: 16px 0 16px 16px;
    height: auto;
    width: 100%;
    margin-top: 64px;

    &__map {
      padding-right: 16px;
    }

    &__title {
      font-size: 2.2rem;
    }

    &__header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 180px;
    }

    &__filters {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      padding-right: 16px;
      padding-bottom: 160px;
      margin-bottom: -220px;
    }

    &__content {
      margin-bottom: 16px;
    }
  }
}
