.menu {
  background-color: var(--color-brown-300);
  border-radius: 8px;
  max-width: fit-content;
  height: calc(100vh - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px;
  justify-content: space-between;
  color: var(--color-beige-100);
  font-size: clamp(12px, 1vw, 16px);
  text-transform: uppercase;
  height: auto;

  &__logo {
    max-width: 100%;
    height: auto;

    &--mobile {
      display: none;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__burger--mobile,
  &__cross--mobile {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &--mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;
      color: var(--color-beige-100);
      text-transform: uppercase;

      a {
        font-size: 1.4rem;
      }
    }
  }

  &__nav--mobile {
    position: fixed;
    top: 64px;
    left: 16px;
    right: 16px;
    width: calc(100% - 32px);
    background-color: var(--color-brown-300);
    padding: 0 16px 24px 16px;
    z-index: 999;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__divider {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 30px;

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-beige-300);
      }
    }
  }
}

.nav__link {
  transition: color 0.3s ease;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:hover {
    color: var(--color-beige-300);
  }
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    height: auto;
    min-height: auto;
    max-width: 100%;
    max-height: 48px;
    padding: 8px 16px;
    z-index: 1000;
    border-radius: 4px;
    margin-bottom: 16px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__logo {
      display: none;

      &--mobile {
        display: block;
      }
    }

    &__toggle {
      display: block;
    }

    &__burger--mobile,
    &__cross--mobile {
      display: block;
    }

    &__nav {
      display: none;
    }

    &__nav--mobile {
      display: block;
    }

    &__footer {
      display: none;
    }

    &__search {
      margin: 24px 0 0 0;

      p {
        font-size: 1.4rem;
      }
    }
  }
}
