.wishes {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  margin-top: clamp(80px, 10vw, 150px);
  padding-left: 11.35vw;
  margin-bottom: clamp(80px, 10vw, 150px);

  &__container {
    width: 100%;
    display: flex;
    gap: 16px;
    padding-right: 16px;
    min-height: 980px;
  }

  &__left {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-brown-300);
    position: relative;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 32px;

    &::before {
      content: "";
      position: absolute;
      inset: 16px;
      border: 2px solid var(--color-warm-brown);
      pointer-events: none;
      z-index: 1;
      border-radius: 4px;
    }
  }

  &__title {
    p {
      font-size: clamp(22px, 4vw, 50px);
      color: var(--color-beige-100);
      text-transform: uppercase;
      letter-spacing: -0.02em;
      line-height: 1;
      text-align: center;
    }
  }

  &__quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 384px;
    width: 100%;

    img {
      width: clamp(16px, 4vw, 48px);
      height: clamp(16px, 4vw, 48px);
    }

    p {
      font-size: clamp(12px, 1.7vw, 22px);
      color: var(--color-beige-100);
      line-height: 1.2;
      text-align: center;
      font-style: italic;
    }

    &--top {
      align-self: flex-start;
    }

    &--down {
      align-self: flex-end;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: var(--color-beige-100);
    align-items: center;
    justify-content: space-evenly;
    padding: 32px;
    gap: 40px;

    &::before {
      content: "";
      position: absolute;
      inset: 16px;
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: 4px;
    }
  }

  &__photo {
    position: relative;
    display: inline-block;
    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/people_frame.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      pointer-events: none;
      z-index: 0;
    }

    img {
      display: block;
      max-width: clamp(160px, 21vw, 392px);
      max-height: clamp(181px, 23vw, 441px);
      width: 100%;
      padding: clamp(8px, 1vw, 18px);
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
  }

  &__subtitle {
    p {
      font-size: clamp(14px, 2vw, 26px);
      color: var(--color-brown-300);
      font-weight: 600;
      line-height: 1.1;
    }
  }

  &__quote_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 527px;
    width: 100%;

    img {
      width: clamp(16px, 3vw, 32px);
      height: clamp(16px, 3vw, 32px);
    }

    &--top {
      align-self: flex-start;
    }

    &--down {
      align-self: flex-end;
    }
  }

  &__quote_text {
    display: flex;
    gap: 24px;
    flex-direction: column;

    p {
      font-size: clamp(12px, 1.7vw, 22px);
      color: var(--color-brown-100);
      line-height: 1.2;
      text-align: center;
      font-style: italic;
    }
  }
}

@media (max-width: 1024px) {
  .wishes {
    &__container {
      min-height: auto;
    }
  }
}

@media (max-width: 768px) {
  .wishes {
    padding: 0 16px;
    margin-top: clamp(40px, 8vw, 80px);
    margin-bottom: clamp(40px, 8vw, 80px);

    &__container {
      padding-right: 0;
      gap: 8px;
      min-height: auto;
    }

    &__left {
      gap: 32px;
      min-height: 400px;
      padding: 24px 16px;

      &::before {
        inset: 8px;
      }
    }

    &__title {
      p {
        font-size: 22px;
      }
    }

    &__quote {
      padding: 0;
      max-width: 204px;
    }

    &__right {
      gap: 24px;
      padding: 24px 16px 48px 16px;
      min-height: 400px;

      &::before {
        inset: 8px;
      }
    }

    &__photo {
      max-width: 160px;
      max-height: 180px;

      img {
        max-height: 180px;
        max-width: 160px;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &__quote_right {
      max-width: 232px;
    }

    &__quote_text {
      gap: 8px;
    }
  }

  @media (max-width: 615px) {
    .wishes {
      &__container {
        flex-direction: column;
      }
    }
  }
}
