.documents {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;
  max-height: 100vh;

  &__content {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-brown-300);
    border-radius: 8px;
    position: relative;
    align-items: center;
    padding: 48px;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      inset: 24px;
      border: 2px solid var(--color-warm-brown);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    img {
      width: clamp(16px, 3vw, 48px);
      height: clamp(16px, 3vw, 48px);
    }

    p {
      font-size: clamp(12px, 1vw, 18px);
      line-height: 1.1;
      color: var(--color-beige-300);
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 442px;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-beige-100);
  }

  &__description {
    font-size: clamp(12px, 1vw, 16px);
    line-height: 1.1;
    color: var(--color-beige-300);
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__city {
    p {
      font-size: clamp(7px, 2vw, 16px);
      color: var(--color-beige-300);
      text-align: center;

      span {
        font-weight: 600;
        font-size: clamp(7px, 2vw, 18px);
        color: var(--color-beige-100);
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-warm-beige);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 24px;
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }
  }

  &__show-more {
    display: none;
  }
}

@media (max-width: 1024px) {
  .documents {
    &__content {
      flex-direction: column;
      gap: 16px;
    }

    &__left,
    &__right {
      width: 100%;
      height: 50%;
    }
  }
}

@media (max-width: 768px) {
  .load-more {
    padding: 12px 32px;
    font-size: 14px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .documents {
    &__content {
      margin-top: 64px;
    }

    &__right {
      &::before {
        content: "";
        position: absolute;
        inset: 8px;
        border: 2px solid var(--color-beige-200);
        pointer-events: none;
        z-index: 1;
        border-radius: 2px;
      }
    }

    &__left {
      border-radius: 4px;
      min-height: 400px;

      &::before {
        content: "";
        position: absolute;
        inset: 8px;
        border: 2px solid var(--color-warm-brown);
        pointer-events: none;
        z-index: 1;
        border-radius: 2px;
      }
    }
  }
}

@media (max-width: 645px) {
  .documents {
    &__show-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 24px;
      cursor: pointer;
      margin-bottom: 5%;

      p {
        font-size: 14px;
        color: var(--color-beige-100);
        text-transform: uppercase;
        letter-spacing: -0.03em;
        line-height: 1.2;
      }
    }
  }
}
