.documents {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;
  max-height: 100vh;

  &__content {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-brown-300);
    border-radius: 8px;
    position: relative;
    align-items: center;
    padding: 48px;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      inset: 24px;
      border: 2px solid var(--color-warm-brown);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    img {
      width: clamp(16px, 3vw, 48px);
      height: clamp(16px, 3vw, 48px);
    }

    p {
      font-size: clamp(12px, 1vw, 18px);
      line-height: 1.1;
      color: var(--color-beige-300);
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 442px;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-beige-100);
  }

  &__description {
    font-size: clamp(12px, 1vw, 16px);
    line-height: 1.1;
    color: var(--color-beige-300);
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__city {
    p {
      font-size: clamp(7px, 2vw, 16px);
      color: var(--color-beige-300);
      text-align: center;

      span {
        font-weight: 600;
        font-size: clamp(7px, 2vw, 18px);
        color: var(--color-beige-100);
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-warm-beige);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 24px;
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }
  }

  &__show-more {
    display: none;
  }
}

.documents-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 11.35vw;
  margin: 12% 0 5% 0;
  padding-right: 16px;
  justify-content: flex-end;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 48px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  .documents-card {
    &.hidden {
      display: none;
    }
  }
}

.documents-card {
  width: calc(33.333% - 11px);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-beige-100);
  // min-height: clamp(400px, 50vw, 769px);
  aspect-ratio: 541 / 769;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background-image: url("../assets/textures/texture_people.png");
    background-repeat: repeat;
    background-size: auto;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: screen;
    opacity: 0.3;
    width: 100%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:first-child {
      z-index: 3;
      max-width: clamp(301px, 35vw, 486px);
      max-height: clamp(242px, 28vw, 378px);
      object-fit: contain;
      transform: rotate(-4deg);
      bottom: 0;
      right: 0;
    }

    &:nth-child(2) {
      left: 30px;
      z-index: 2;
      object-fit: contain;
      transform: rotate(-4deg);
      max-width: clamp(300px, 35vw, 486px);
      max-height: clamp(376px, 35vw, 592px);
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: clamp(250px, 24vw, 399px);
    width: 100%;
    min-height: clamp(380px, 31vw, 519px);
    padding: clamp(16px, 3vw, 48px);
    z-index: 3;
    transition: transform 0.8s ease, opacity 0.8s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      inset: clamp(8px, 1vw, 16px);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }

    &.brown-dark {
      background-color: var(--color-brown-300);

      &::before {
        border: 3px solid var(--color-brown-300);
        box-shadow: inset 1px 2px 3px #1a1412, inset -1px 1px 2px #ffffff29;
      }
    }

    &.brown-light {
      background-color: var(--color-brown-100);

      &::before {
        border: 3px solid var(--color-brown-100);
        box-shadow: inset 1px 2px 3px #3a312e, inset -1px 1px 2px #ffffff36;
      }
    }

    &.warm-brown {
      background-color: var(--color-warm-brown);

      &::before {
        border: 3px solid var(--color-brown-100);
        box-shadow: inset 1px 2px 3px #2c201c, inset -1px 1px 2px #ffffff36;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__name {
    font-size: clamp(16px, 1.5vw, 26px);
    font-weight: 600;
    line-height: 1.1;
    color: var(--color-beige-100);
  }

  &__date {
    font-size: clamp(14px, 1vw, 16px);
    line-height: 1.1;
    color: var(--color-beige-300);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      font-size: clamp(14px, 1vw, 16px);
      color: var(--color-beige-100);
      font-weight: 600;
    }

    span {
      color: var(--color-beige-300);
      font-size: clamp(12px, 1vw, 14px);
    }
  }

  &:hover {
    .documents-card__info {
      transform: translateX(-100%);
      opacity: 0.8;
    }
  }
}

.documents-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b2;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.active {
    display: flex;
    opacity: 1;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close,
  &__close--mobile {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    cursor: pointer;
    display: flex;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brown-100);
    opacity: 0.7;
    border-radius: 8px;
    width: clamp(32px, 5vw, 56px);
    height: clamp(32px, 5vw, 56px);
    transition: opacity 0.3s ease, transform 0.2s ease;

    &:hover {
      opacity: 1;
    }

    img {
      width: clamp(12px, 3vw, 24px);
      height: clamp(12px, 3vw, 24px);
    }
  }

  &__close--mobile {
    display: none;
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-brown-100);
    border: none;
    cursor: pointer;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
    width: clamp(32px, 5vw, 56px);
    height: clamp(32px, 5vw, 56px);
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &--prev {
      left: -100px;

      img {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: -100px;
    }

    img {
      width: clamp(12px, 2vw, 18px);
      height: clamp(12px, 2vw, 18px);
    }
  }

  &__image {
    max-width: 70vw;
    max-height: 70vh;
  }
}

@media (max-width: 1024px) {
  .documents-card {
    width: calc(50% - 8px);
  }

  .documents {
    &__content {
      flex-direction: column;
      gap: 16px;
    }

    &__left,
    &__right {
      width: 100%;
      height: 50%;
    }
  }
}

@media (max-width: 768px) {
  .documents-cards {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }

  .load-more {
    padding: 12px 32px;
    font-size: 14px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .documents {
    &__content {
      margin-top: 64px;
    }

    &__right {
      &::before {
        content: "";
        position: absolute;
        inset: 8px;
        border: 2px solid var(--color-beige-200);
        pointer-events: none;
        z-index: 1;
        border-radius: 2px;
      }
    }

    &__left {
      border-radius: 4px;
      min-height: 400px;

      &::before {
        content: "";
        position: absolute;
        inset: 8px;
        border: 2px solid var(--color-warm-brown);
        pointer-events: none;
        z-index: 1;
        border-radius: 2px;
      }
    }
  }

  .documents-modal {
    &__close {
      display: none;
    }

    &__close--mobile {
      display: flex;
      top: -56px;
      right: 0;
      border-radius: 4px;
    }

    &__nav {
      border-radius: 4px;
      top: auto;
      bottom: -72px;

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }
}

@media (max-width: 645px) {
  .documents-card {
    width: 100%;
    max-height: clamp(490px, 97vw, 600px);

    &__info {
      max-width: clamp(296px, 56vw, 399px);
      min-height: clamp(376px, 64vw, 519px);
      padding: clamp(32px, 8vw, 48px);
    }

    img {
      &:first-child {
        max-width: clamp(301px, 75vw, 486px);
        max-height: clamp(242px, 55vw, 378px);
      }

      &:nth-child(2) {
        max-width: clamp(300px, 60vw, 486px);
        max-height: clamp(376px, 80vw, 592px);
        left: 15px;
      }
    }
  }

  .documents {
    &__show-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 24px;
      cursor: pointer;
      margin-bottom: 5%;

      p {
        font-size: 14px;
        color: var(--color-beige-100);
        text-transform: uppercase;
        letter-spacing: -0.03em;
        line-height: 1.2;
      }
    }
  }
}
