.documents {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-direction: column;

  &__wrapper {
    display: flex;
    gap: 16px;
    min-height: 40vh;
    height: 1012px;
    max-height: 100vh;
    padding: 16px;
  }

  &__content {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-brown-300);
    border-radius: 8px;
    position: relative;
    align-items: center;
    padding: clamp(32px, 9vw, 48px);
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      inset: 24px;
      border: 2px solid var(--color-warm-brown);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    img {
      width: clamp(16px, 3vw, 48px);
      height: clamp(16px, 3vw, 48px);
    }

    p {
      font-size: clamp(12px, 1vw, 18px);
      line-height: 1.1;
      color: var(--color-beige-300);
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 442px;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-beige-100);
  }

  &__description {
    font-size: clamp(12px, 1vw, 16px);
    line-height: 1.1;
    color: var(--color-beige-300);
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__city {
    p {
      font-size: clamp(7px, 2vw, 16px);
      color: var(--color-beige-300);
      text-align: center;

      span {
        font-weight: 600;
        font-size: clamp(7px, 2vw, 18px);
        color: var(--color-beige-100);
      }
    }
  }

  &__right {
    width: 50%;
    position: relative;
    background-color: var(--color-warm-beige);
    min-height: clamp(300px, 50vw, 650px);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 24px;
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: 2px;
    }
  }

  &__photo {
    &--back,
    &--middle,
    &--main {
      display: inline-block;
      width: fit-content;
      position: absolute;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/images/people_frame.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: 0;
      }

      img {
        display: block;
        width: 100%;
        padding: clamp(8px, 1.5vw, 18px);
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }

    &--back {
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 32px);
      max-height: clamp(169px, 39vw, 412px);
      z-index: 1;
    }

    &--main {
      top: 50%;
      transform: translateY(-50%);
      left: 40px;
      width: 100%;
      max-width: clamp(156px, 20vw, 380px);
      max-height: clamp(184px, 24vw, 446px);
      z-index: 3;
    }

    &--middle {
      max-width: clamp(176px, 23vw, 430px);
      max-height: clamp(218px, 28vw, 532px);
      z-index: 2;
      right: 40px;
      bottom: 5px;

      img {
        padding: clamp(8px, 1.5vw, 24px);
      }
    }
  }

  &__photo-composition {
    position: relative;
    width: 100%;
    max-height: clamp(401px, 45vw, 852px);
    max-width: clamp(325px, 37vw, 710px);
    margin: 0 auto;
    height: calc(100% - 80px);
  }

  &__show-more {
    display: none;
  }
}

@media (max-width: 1024px) {
  .documents {
    &__content {
      flex-direction: column;
      gap: 16px;
    }

    &__left,
    &__right {
      width: 100%;
      height: 50%;
      min-height: 400px;
    }

    &__photo-composition {
      height: clamp(365px, 40vw, 852px);
    }
  }
}

@media (max-width: 768px) {
  .load-more {
    padding: 12px 32px;
    font-size: 14px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .documents {
    &__content {
      margin-top: 64px;
    }

    &__right {
      &::before {
        content: "";
        position: absolute;
        inset: 8px;
        border: 2px solid var(--color-beige-200);
        pointer-events: none;
        z-index: 1;
        border-radius: 2px;
      }
    }

    &__left {
      border-radius: 4px;
      min-height: 400px;

      &::before {
        content: "";
        position: absolute;
        inset: 8px;
        border: 2px solid var(--color-warm-brown);
        pointer-events: none;
        z-index: 1;
        border-radius: 2px;
      }
    }

    &__photo-composition {
      height: clamp(345px, 45vw, 852px);
      max-width: clamp(381px, 37vw, 710px);
    }

    &__photo {
      &--back {
        width: calc(100% - 48px);
      }

      &--middle {
        bottom: 0;
      }
    }
  }

  .documents {
    &__show-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 24px;
      cursor: pointer;
      margin-bottom: 5%;

      p {
        font-size: 14px;
        color: var(--color-beige-100);
        text-transform: uppercase;
        letter-spacing: -0.03em;
        line-height: 1.2;
      }
    }
  }
}

@media (max-width: 374px) {
  .documents {
    &__photo {
      &--back {
        max-width: 250px;
      }
    }
  }
}
