.employee {
  --offset: clamp(25px, 5vw, 80px);
  padding: 0 16px;
  display: flex;

  &__content {
    flex: 1;
    padding-top: 40px;
  }

  &__factory {
    font-size: clamp(14px, 1vw, 16px);
    line-height: 1.1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--color-beige-300);
    margin-bottom: clamp(24px, 4vw, 80px);
    text-align: center;
  }

  &__info {
    margin-bottom: clamp(32px, 4vw, 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__years {
    font-size: clamp(14px, 1.5vw, 18px);
    letter-spacing: -0.03em;
    line-height: 1.2;
    color: var(--color-beige-100);
    text-transform: uppercase;
    font-weight: 600;
  }

  &__name {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--color-beige-100);
    text-align: center;
    text-transform: uppercase;
  }

  &__position {
    font-size: clamp(14px, 1.5vw, 18px);
    color: var(--color-beige-100);
    line-height: 1.1;
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: clamp(1000px, 76vw, 1244px);
    width: 100%;
    align-items: flex-start;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    justify-items: center;
    padding-left: var(--offset);
  }

  &__details {
    color: var(--color-brown-300);
    padding: clamp(24px, 3vw, 40px);
    position: relative;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("../assets/icons/employee_background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      pointer-events: none;
    }

    &--subtitle {
      font-size: clamp(18px, 2vw, 26px);
      margin-bottom: clamp(16px, 1vw, 24px);
      line-height: 1.1;
      font-weight: 600;
      position: relative;
      z-index: 1;
    }

    &--description,
    &--awards {
      font-size: clamp(14px, 1.5vw, 18px);
      line-height: 1.1;
      position: relative;
      z-index: 1;
    }

    &--description {
      margin-bottom: clamp(16px, 2vw, 80px);
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &--awards {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        color: var(--color-beige-300);
      }
    }
  }

  &__photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17px;
    left: calc(-1 * var(--offset));
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 106%;
      height: 104%;
      background-image: url("../assets/icons/employee_background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      pointer-events: none;
      z-index: 1;
    }

    img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      max-width: 750px;
      max-height: 900px;
      box-shadow: -2.78px 2.78px 11.13px 0px #2c252280 inset;
      z-index: 2;
    }
  }

  &__clip {
    position: absolute;
    top: -8px;
    right: 30%;
    width: clamp(15px, 1vw, 28px);
    height: clamp(34px, 3vw, 64px);
    z-index: 3;
  }

  &__photo--mobile {
    display: none;
  }
}

.employee__details--awards:last-child {
  margin-bottom: 0;
}

.related {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    padding-left: 11.35vw;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--color-beige-100);
    text-transform: uppercase;
  }
}

// .interactive-cards {
//   margin: 0 !important;
// }

@media (max-width: 768px) {
  .employee {
    &__content {
      padding: 0;
      margin-top: 80px;
    }

    &__photo {
      display: none;
    }

    &__wrapper {
      display: block;
      left: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 0;
    }

    &__details {
      width: 100%;
      text-align: center;
      padding: clamp(12px, 4vw, 24px);
      min-height: auto;

      &--subtitle,
      &--description,
      &--awards {
        text-align: start;
      }
    }

    &__photo--mobile {
      position: relative;
      display: inline-block;
      margin-bottom: 24px;

      img {
        display: block;
        width: 210px;
        height: auto;
        max-width: 210px;
        max-height: 256px;
        position: relative;
        z-index: 2;
        box-shadow: -2.78px 2.78px 11.13px 0px #2c252280 inset;
      }

      &::before {
        content: "";
        position: absolute;
        inset: -6px;
        background-image: url("../assets/icons/employee_background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
        pointer-events: none;
        box-shadow: -1px 1px 4px 0px #2c252280 inset;
      }
    }

    &__clip {
      right: 40%;
    }
  }

  .related {
    &__header {
      padding-left: 0;
    }
  }
}
