.factory-equipment {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-height: calc(100vh - 32px);
    gap: clamp(32px, 3vw, 107px);
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-image: url("../assets/textures/texture_people.png");
      background-repeat: repeat;
      background-size: auto;
      z-index: 0;
      pointer-events: none;
      mix-blend-mode: screen;
      opacity: 0.3;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 58px;
      right: 65px;
      width: clamp(90px, 9vw, 158px);
      height: clamp(90px, 9vw, 157px);
      background: url("../assets/icons/stamp1950.svg") no-repeat center/contain;
      z-index: 2;
      pointer-events: none;
    }
  }

  &__column {
    display: flex;
    justify-content: space-between;
  }

  &__column--left {
    flex: 1;
  }

  &__column--right {
    align-items: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
  }

  &__block--center {
    margin-top: 24px;
  }

  &__photo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../assets/icons/equipment__backgroundImage.svg");
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
      z-index: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
      display: block;
    }
  }

  &__photo-frame--left {
    &::before {
      // width: clamp(311px, 26vw, 498px);
      // height: clamp(220px, 21vw, 390px);
      width: clamp(311px, 26vw, 645px);
      height: clamp(220px, 21vw, 480px);
    }

    img {
      // width: clamp(295px, 24vw, 450px);
      // height: clamp(204px, 18vw, 342px);

      width: clamp(295px, 23vw, 600px);
      height: clamp(204px, 18vw, 440px);
    }
  }

  &__photo-frame--center {
    &::before {
      // width: clamp(160px, 26vw, 412px);
      // height: clamp(182px, 25vw, 468px);
      width: clamp(160px, 22vw, 574px);
      height: clamp(182px, 24vw, 532px);
    }

    img {
      // width: clamp(144px, 24vw, 364px);
      // height: clamp(166px, 22vw, 420px);
      width: clamp(144px, 19vw, 532px);
      height: clamp(166px, 22vw, 489px);
    }
  }

  &__photo-frame--right {
    &::before {
      // width: clamp(178px, 26vw, 411px);
      // height: clamp(130px, 21vw, 332px);
      width: clamp(178px, 21vw, 665px);
      height: clamp(130px, 17vw, 413px);
    }

    img {
      // width: clamp(162px, 24vw, 363px);
      // height: clamp(114px, 18vw, 284px);
      width: clamp(162px, 19vw, 625px);
      height: clamp(114px, 15vw, 370px);
    }
  }

  &__block--stamp {
    justify-content: flex-end;
  }

  &__tape--left,
  &__tape--right,
  &__tape-other--left,
  &__tape-other--right {
    width: 60px !important;
    height: auto !important;
    object-fit: contain !important;
    position: absolute !important;
    z-index: 4 !important;
  }

  &__tape--left {
    left: -25px;
    top: -40px;
  }

  &__tape--right {
    top: -50px;
    right: -30px;
  }

  &__tape-other--left {
    left: -45px;
    top: -40px;
  }

  &__tape-other--right {
    top: -55px;
    right: -40px;
  }

  &__title {
    font-size: clamp(22px, 3vw, 50px);
    color: var(--color-brown-300);
    line-height: 1;
    max-width: 498px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
  }

  &__text {
    font-size: clamp(14px, 1vw, 16px);
    color: #000000;
    max-width: 404px;
    line-height: 1.1;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
  }

  &__factory {
    display: flex;
    gap: 24px;
    margin-top: 0;
    margin-bottom: auto;
    align-items: center;
  }

  &__factory-logo {
    width: 56px;
    height: 67px;
    z-index: 1;
  }

  &__factory-name {
    font-size: clamp(14px, 1vw, 18px);
    color: var(--color-beige-300);
    line-height: 1.1;
    z-index: 1;
  }

  &__subtitle {
    font-size: clamp(14px, 1vw, 18px);
    color: var(--color-beige-300);
    line-height: 1.1;
    text-align: end;
    z-index: 1;
  }
}

.history-equipment {
  padding-left: 11.375vw;
  margin: clamp(80px, 15vw, 220px) 0;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../assets/icons/equipment__backgroundBig.svg");
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
      z-index: 0;
      width: clamp(311px, 59vw, 1116px);
      height: clamp(220px, 41vw, 769px);
    }

    img {
      width: 100%;
      max-width: 1036px;
      max-height: 689px;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
      display: block;
    }
  }

  &__controls {
    display: flex;
    gap: clamp(8px, 1.1vw, 16px);
  }
}

// Timeline styles
.timeline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 32px 0 48px 0;
  padding: 0 24px;
  height: 56px;

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--color-beige-300);
    z-index: 0;
    transform: translateY(-50%);
    opacity: 0.3;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    gap: 8px;
    cursor: pointer;
    z-index: 1;
  }

  &__year {
    color: var(--color-beige-300);
    font-size: clamp(14px, 1vw, 18px);
    transition: opacity 0.2s, color 0.2s;
    font-weight: 600;

    &.active {
      color: var(--color-beige-100);
    }
  }
}

.interactive-cards {
  padding-left: 0 !important;
  justify-content: flex-end !important;
  gap: 40px !important;
  margin-bottom: clamp(8px, 5vw, 80px) !important;

  &:hover {
    .interactive-card__info {
      transform: translateX(0) !important;
      opacity: 1 !important;
    }
  }
}

.interactive-card {
  max-width: 538px !important;
  width: 100% !important;
  background-color: transparent !important;

  &::before {
    background-image: url("../assets/icons/equipment__backgroundBig.svg") !important;
    opacity: 1 !important;
  }

  &__info {
    max-width: clamp(250px, 24vw, 500px) !important;
    min-height: clamp(380px, 31vw, 720px) !important;
    padding: clamp(24px, 3vw, 32px) !important;

    &::before {
      content: "";
      inset: clamp(8px, 1vw, 16px);
    }
  }
}
