.factory-equipment {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    gap: 16px;
    min-height: clamp(700px, 60vw, 1012px);
    padding: 16px;
  }

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    padding: clamp(16px, 2vw, 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: clamp(32px, 3vw, 107px);
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-image: url("../assets/textures/texture_people.png");
      background-repeat: repeat;
      background-size: auto;
      z-index: 0;
      pointer-events: none;
      mix-blend-mode: screen;
      opacity: 0.3;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 58px;
      right: 65px;
      width: clamp(80px, 9vw, 158px);
      height: clamp(80px, 9vw, 157px);
      background: url("../assets/icons/stamp1950.svg") no-repeat center/contain;
      z-index: 2;
      pointer-events: none;
    }
  }

  &__column {
    display: flex;
    justify-content: space-between;
  }

  &__column--left {
    flex: 1;
    gap: clamp(60px, 5vw, 165px);
  }

  &__column--right {
    align-items: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    flex: 1 1 0;
  }

  &__block--center {
    gap: 24px;
    justify-content: space-around;
  }

  &__photo-frame {
    position: relative;
    display: inline-block;
    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/people_frame.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      pointer-events: none;
      z-index: 0;
    }

    .factory-equipment__image {
      display: block;
      max-width: clamp(311px, 34vw, 652px);
      max-height: clamp(386px, 39vw, 734px);
      width: 100%;
      padding: clamp(8px, 1vw, 27px);
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
  }

  &__photo-frame--left {
    max-height: clamp(220px, 26vw, 390px);
    width: 100%;
  }

  &__photo-frame--center {
    max-height: clamp(182px, 25vw, 468px);
    height: 100%;
    width: 100%;
  }

  &__photo-frame--right {
    max-height: clamp(130px, 18vw, 332px);
    height: 100%;
    width: 100%;
  }

  &__block--stamp {
    justify-content: flex-end;
  }

  &__tape--left,
  &__tape--right,
  &__tape-other--left,
  &__tape-other--right {
    max-width: clamp(24px, 3vw, 60px);
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index: 4;
    pointer-events: none;
  }

  &__photo-frame {
    position: relative;
    display: inline-block;

    .factory-equipment__tape--left {
      left: 5px;
      top: 10px;
      transform: translate(-50%, -50%);
    }
    .factory-equipment__tape--right {
      right: 5px;
      top: 10px;
      transform: translate(50%, -50%);
    }
    .factory-equipment__tape-other--left {
      left: -20px;
      top: -15px;
    }
    .factory-equipment__tape-other--right {
      right: -20px;
      top: -20px;
    }
  }

  &__title {
    font-size: clamp(22px, 3vw, 50px);
    color: var(--color-brown-300);
    line-height: 1;
    max-width: 498px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
  }

  &__text {
    font-size: clamp(14px, 1vw, 16px);
    color: #000000;
    width: 100%;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  &__factory {
    display: flex;
    gap: 24px;
    margin-top: 0;
    margin-bottom: auto;
    align-items: center;
  }

  &__factory-logo {
    width: clamp(24px, 3vw, 56px);
    height: clamp(29px, 4vw, 67px);
    z-index: 1;
  }

  &__factory-name {
    font-size: clamp(12px, 1vw, 18px);
    color: var(--color-beige-300);
    line-height: 1.1;
    z-index: 1;
  }

  &__subtitle {
    font-size: clamp(14px, 1vw, 18px);
    color: var(--color-beige-300);
    line-height: 1.1;
    text-align: end;
    z-index: 1;
  }

  &__factory--mobile {
    display: none;
  }

  &__double-photo {
    display: none;
  }
}

@media (max-width: 1024px) {
  .factory-equipment {
    &__content {
      &::after {
        top: 25px;
        right: 20px;
      }
    }
    &__factory--mobile {
      display: flex;
    }

    &__column--left {
      flex-direction: column;
      width: 100%;
      gap: 18px;
    }

    &__column--right {
      display: none;
    }

    &__block {
      gap: 32px;
    }

    &__block--center {
      > :not(.factory-equipment__text) {
        display: none;
      }
    }

    &__block--stamp {
      display: none;
    }

    &__double-photo {
      display: block;
      position: relative;
    }

    &__frame--mobile {
      position: relative;
      display: inline-block;
      z-index: 3;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/images/people_frame.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: 0;
      }

      img {
        padding: clamp(8px, 2vw, 16px);
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
        display: block;
      }
    }

    &__double-photo-item {
      width: 54%;
    }

    &__double-photo-item--top {
      position: absolute;
      right: 0;
      top: -16px;
      width: 48%;
      padding: 0;

      .factory-equipment__tape-other--right {
        top: -10px;
        position: absolute;
        right: -10px;
      }
    }

    .factory-equipment__photo-frame .factory-equipment__image {
      max-width: 100%;
    }

    &__double-photo-caption {
      position: absolute;
      right: 2px;
      bottom: 0;
      font-size: 12px;
      color: var(--color-beige-300);
      text-align: right;
    }

    &__double-photo {
      .factory-equipment__tape--left,
      .factory-equipment__tape--right {
        padding: 0;
      }

      .factory-equipment__tape--left {
        left: -10px;
        top: -10px;
      }

      .factory-equipment__tape--right {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .factory-equipment {
    &__content {
      margin-top: 80px;
      border-radius: 4px;
    }

    &__wrapper {
      height: auto;
      max-height: 100%;
    }

    &__title {
      max-width: 318px;
    }

    &__column--left {
      flex-direction: column;
      gap: 24px;
      width: 100%;
    }

    &__factory--mobile {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__photo-frame--left {
      img {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        max-height: 220px;
        object-fit: cover;
        display: block;
        margin: 0;
      }
    }

    &__block {
      gap: 40px;
    }

    &__double-photo-item--top {
      top: -16px;
      right: 6px;
      left: auto;
      min-height: auto;
    }

    &__double-photo-caption {
      bottom: 0;
      right: 2px;
      font-size: 12px;
      width: 60%;
      text-align: right;
      color: var(--color-beige-300);
    }

    &__tape--left,
    &__tape--right,
    &__tape-other--left,
    &__tape-other--right {
      width: 34px;
      height: 34px;
    }

    &__tape--left {
      left: -12px;
      top: -8px;
    }
    &__tape--right {
      right: -12px;
      top: -8px;
    }
    &__tape-other--left {
      left: -12px;
      top: -12px;
    }
    &__tape-other--right {
      right: -12px;
      top: -14px;
    }
  }
}

@media (max-width: 430px) {
  .factory-equipment {
    &__double-photo-item {
      width: 46%;
      min-height: 182px;
      height: 100%;
    }

    &__double-photo-item--top {
      width: 60%;
    }
  }
}
