.leader {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    width: 100%;
    gap: 64px;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 657px;
    width: 100%;
  }

  &__logo {
    font-size: clamp(12px, 1vw, 18px);
    line-height: 1.1;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    color: var(--color-brown-300);
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
  }

  &__period {
    font-size: clamp(12px, 2vw, 18px);
    line-height: 1.2;
    color: var(--color-beige-300);
    letter-spacing: -0.03em;
  }

  &__quote,
  &__quote--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 403px;
    width: 100%;

    img {
      width: 24px;
      height: 24px;
    }

    p {
      font-size: clamp(14px, 1.5vw, 26px);
      font-weight: 600;
      text-align: center;
    }

    &--top {
      align-self: flex-start;
    }

    &--down {
      align-self: flex-end;
    }
  }

  &__quote--mobile,
  &__img--mobile {
    display: none;
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 1.1;
    color: var(--color-brown-300);

    span {
      font-size: clamp(18px, 2vw, 26px);
      font-weight: 600;
    }

    p {
      font-size: clamp(12px, 1.5vw, 18px);
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__img {
    max-height: 60vh;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 1;
  }

  @media (max-width: 768px) {
    padding: 0;

    &__content {
      flex-direction: column;
      padding: 24px 16px 48px 16px;
      margin: 80px 16px 0 16px;
      gap: 24px;
      border-radius: 4px;
      min-height: 984px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      height: 100%;
      max-width: 100%;
      align-items: center;
    }

    &__logo {
      display: flex;
      width: 100%;

      img {
        width: 24px;
        height: 29px;
      }
    }

    &__title {
      display: flex;
      width: 100%;
      font-size: 24px;
    }

    &__name {
      margin-bottom: 8px;
    }

    &__img--mobile {
      display: flex;
      justify-content: center;

      img {
        max-height: clamp(386px, 66vw, 500px);
        max-width: clamp(311px, 56vw, 430px);
        width: 100%;
        height: auto;
      }
    }

    &__subtitle {
      font-size: 14px;

      br {
        display: none;
      }
    }

    &__empty {
      display: none;
    }

    &__quote--mobile {
      display: flex;
      max-width: 279px;

      p {
        font-size: clamp(14px, 1vw, 18px);
      }

      img {
        width: 16px;
        height: 16px;
      }
    }

    &__right {
      display: none;
    }
  }
}
