.leader {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;
  max-height: 100vh;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
    min-height: 0;
  }

  &__logo {
    font-size: clamp(12px, 1vw, 18px);
    line-height: 1.1;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 60%;
    max-width: 657px;
    width: 100%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    img {
      max-height: 60vh;
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: contain;
      flex-shrink: 1;
    }
  }

  &__quote {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 403px;

    &--down {
      position: absolute;
      right: 0;
      bottom: -12px;
    }

    img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    p {
      font-size: clamp(18px, 2vw, 26px);
      font-weight: 600;
      text-align: center;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &__img--mobile {
    display: none;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    color: var(--color-brown-300);
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
  }

  &__period {
    font-size: clamp(12px, 2vw, 18px);
    line-height: 1.2;
    color: var(--color-beige-300);
    letter-spacing: -0.03em;
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 1.1;
    color: var(--color-brown-300);

    span {
      font-size: clamp(18px, 2vw, 26px);
      font-weight: 600;
    }

    p {
      font-size: clamp(12px, 2vw, 18px);
    }
  }

  &__note {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--color-beige-300);

    span {
      color: var(--color-brown-300);
      text-transform: uppercase;
      line-height: 1.1;
    }
  }

  @media (max-width: 1300px) {
    &__content {
      flex-direction: column;
      justify-content: space-around;
    }

    &__right {
      max-height: 395px;
    }

    &__left {
      max-width: 100%;
    }

    &__subtitle {
      br {
        display: none;
      }
    }
  }

  @media (max-width: 1440px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    &__card {
      min-height: 100%;
    }
  }

  @media (max-width: 768px) {
    padding: 0;

    &__content {
      flex-direction: column;
      padding: 16px;
      margin: 80px 16px 0 16px;
      gap: 24px;
      border-radius: 4px;
      min-height: 650px;
    }

    &__logo {
      img {
        width: 24px;
        height: 29px;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      flex: 1;
    }

    &__img--mobile {
      display: block;
      margin-bottom: 24px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__right {
      display: none;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 32px;
    }

    &__subtitle {
      font-size: 14px;

      br {
        display: none;
      }
    }

    &__cards {
      grid-template-columns: 1fr;
      padding: 0 16px 16px 16px;
      margin-top: 40px;
    }

    &__card {
      min-height: 440px;
      padding: 16px;
      border-radius: 4px;
      transition: opacity 0.3s ease, transform 0.3s ease;

      &--hidden {
        display: none;
      }

      &--title {
        min-height: 48px;
        margin-bottom: 16px;
      }

      &--description {
        margin-bottom: 12px;
      }

      &--awarded {
        min-height: 50px;
      }
    }

    &__info {
      gap: 0;
      padding: 24px;
    }

    &__img {
      p {
        padding: 24px;
      }

      img {
        max-width: clamp(190px, 36vw, 234px);
        height: clamp(229px, 40vw, 292px);
      }
    }

    &__show-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 24px;
      cursor: pointer;
      margin-bottom: 5%;

      p {
        font-size: 14px;
        color: var(--color-beige-100);
        text-transform: uppercase;
        letter-spacing: -0.03em;
        line-height: 1.2;
      }
    }
  }

  @media (max-width: 425px) {
    &__img {
      p {
        padding: 8px;
      }

      img {
        max-width: clamp(190px, 49vw, 300px);
        height: clamp(180px, 59vw, 292px);
      }
    }

    &__info {
      gap: 0;
      padding: 8px;
    }
  }
}
