.main {
  display: flex;
  gap: 16px;
  padding: 16px 0 16px 16px;
  min-height: 60vh;
  max-height: 100vh;

  &__welcome {
    background-color: var(--color-brown-300);
    border-radius: 8px;
    max-width: 39.375vw;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      inset: 16px;
      border: 2px solid var(--color-brown-200);
      pointer-events: none;
      z-index: 1;
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 22px;
      border: 2px solid var(--color-brown-200);
      pointer-events: none;
      z-index: 1;
      border-radius: 4px;
    }
  }

  &__title {
    margin: clamp(20px, 3vw, 48px);
    font-size: 5rem;
    line-height: 1;
    color: var(--color-beige-100);
    text-transform: uppercase;
  }

  &__note {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
    margin: clamp(20px, 3vw, 48px);
  }

  &__quote {
    text-align: right;
    position: relative;

    p {
      font-size: 2.2rem;
      line-height: 1.2;
      color: var(--color-beige-100);
      font-style: italic;
    }

    img {
      width: 24px;
      height: 24px;
      position: absolute;
    }

    &--top {
      top: -42px;
      left: 32px;
    }

    &--down {
      bottom: -42px;
      right: 0;
    }
  }

  &__author {
    font-size: 1.6rem;
    color: var(--color-beige-300);
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 64px 0 0 0;

    &__welcome {
      border-radius: 4px;
      max-height: 505px;
      max-width: calc(100% - 32px);
      margin: 16px 16px 0 16px;
    }

    &__title {
      font-size: 2.2rem;
    }

    &__quote {
      p {
        font-size: 1.6rem;
      }
    }

    &__author {
      font-size: 1.2rem;
    }
  }
}
