.multimedia {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
    min-height: clamp(700px, 60vw, 1012px);
    max-width: 1920px;
    margin: 0 auto;
    padding: 16px 0 16px 16px;
  }

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: clamp(4px, 0.5vw, 8px);
    padding: clamp(16px, 2vw, 40px);
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 30%;
    max-width: 462px;
    width: 100%;
  }

  &__right {
    width: 68%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__photo {
    &--back,
    &--middle,
    &--main {
      display: inline-block;
      width: fit-content;
      position: absolute;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/images/people_frame.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: 0;
      }

      img {
        display: block;
        width: 100%;
        padding: clamp(8px, 1.5vw, 18px);
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }

    &--back {
      max-width: clamp(160px, 29vw, 530px);
      max-height: clamp(200px, 35vw, 644px);
      z-index: 1;
    }

    &--main {
      bottom: 0;
      width: 100%;
      max-width: clamp(178px, 38vw, 540px);
      max-height: clamp(150px, 27vw, 444px);
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
    }

    &--middle {
      max-width: clamp(178px, 38vw, 540px);
      max-height: clamp(150px, 35vw, 444px);
      right: 0;
      z-index: 0;
      top: 50%;
      transform: translateY(-50%);

      img {
        padding: clamp(8px, 1vw, 24px);
      }
    }
  }

  &__right--mobile {
    display: none;
  }

  &__title {
    font-size: clamp(22px, 3vw, 50px);
    line-height: 1;
    color: var(--color-brown-300);
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
  }

  &__subtitle {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 1.1;
    color: var(--color-brown-300);
    letter-spacing: -0.03em;
  }

  &__note {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(16px, 2vw, 40px);
    width: 100%;
    margin: clamp(40px, 11vw, 220px) auto 0 auto;
    padding-left: clamp(85px, 15vw, 210px);
    // padding-right: 16px;
    max-width: 1920px;

    &--no-button {
      margin-bottom: clamp(40px, 11vw, 220px);
    }
  }

  &__card {
    background-color: var(--color-beige-100);
    border-radius: clamp(2px, 0.5vw, 4px);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(12px, 1vw, 24px);
    min-height: clamp(440px, 32vw, 614px);
    min-width: clamp(288px, 25vw, 538px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10px;
      background-image: url("../assets/icons/multimedia_background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
    }

    &--title {
      font-size: clamp(16px, 2vw, 26px);
      line-height: 1.1;
      color: var(--color-brown-300);
      font-weight: 600;
      min-height: 56px;
      display: flex;
      align-items: center;
    }

    &--description {
      font-size: clamp(12px, 1vw, 16px);
      line-height: 1.1;
      color: var(--color-brown-300);
      letter-spacing: -0.03em;
      flex: 1;
    }

    &--awarded {
      font-size: clamp(12px, 1vw, 16px);
      line-height: 1.1;
      letter-spacing: -0.03em;
      color: var(--color-beige-300);
      min-height: 60px;

      span {
        color: var(--color-brown-300);
        font-weight: 600;
      }
    }

    &--hidden {
      display: none;
    }

    &:hover {
      .multimedia__clip {
        top: -19px;
        transform: rotate(56deg);
      }
    }
  }

  &__clip {
    position: absolute;
    top: -7px;
    right: 25%;
    z-index: 2;
    transition: transform 1s ease-in-out, top 1s ease-in-out;
  }

  &__img {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    p {
      font-size: clamp(14px, 2vw, 16px);
      color: var(--color-beige-300);
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      padding: 16px 0 0 16px;
      font-style: italic;
    }

    img {
      max-width: clamp(190px, 13vw, 300px);
      height: clamp(226px, 18vw, 292px);
      position: relative;
      top: -5%;
      transform: rotate(2deg);
      mask-image: url("../assets/masks/mask_photo.png");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("../assets/masks/mask_photo.png");
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      object-fit: cover;
    }

    video {
      max-width: clamp(190px, 13vw, 300px);
      height: clamp(226px, 18vw, 292px);
      position: relative;
      top: -5%;
      transform: rotate(2deg);
      mask-image: url("../assets/masks/mask_photo.png");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("../assets/masks/mask_photo.png");
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      object-fit: cover;
    }
  }

  &__info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px 16px 16px;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &__show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 32px auto clamp(40px, 11vw, 220px) auto;
    cursor: pointer;
    padding-left: clamp(85px, 15vw, 210px);
    width: 100%;
    max-width: 1920px;
    align-items: center;

    &.hidden {
      display: none;
    }

    p {
      font-size: clamp(14px, 2vw, 18px);
      color: var(--color-beige-100);
      text-transform: uppercase;
      letter-spacing: -0.03em;
      line-height: 1.2;
    }
  }

  @media (max-width: 1024px) {
    &__content {
      flex-direction: column;
    }

    &__left {
      max-width: 100%;
    }

    &__right {
      max-height: clamp(560px, 43vw, 640px);
      height: 100%;
      margin: 0 auto;
    }

    &__subtitle {
      br {
        display: none;
      }
    }

    &__photo {
      &--back {
        max-width: clamp(160px, 29vw, 530px);
        max-height: clamp(200px, 26vw, 644px);
      }

      &--middle {
        max-width: clamp(178px, 30vw, 540px);
        max-height: clamp(150px, 21vw, 444px);
      }

      &--main {
        max-width: clamp(178px, 30vw, 540px);
        max-height: clamp(150px, 19vw, 444px);
      }
    }
  }

  @media (max-width: 1440px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    padding: 0;

    &__wrapper {
      height: auto;
      max-height: 100%;
      padding: 16px;
    }

    &__show-more {
      padding-left: 0;
    }

    &__content {
      flex-direction: column;
      padding: 16px;
      margin: 80px 0 0 0;
      gap: 24px;
      min-height: 650px;
    }

    &__logo {
      img {
        width: 24px;
        height: 29px;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      flex: 1;
    }

    &__right--mobile {
      display: block;
      width: 100%;
      position: relative;
      margin: 0 auto 24px auto;
      min-height: 320px;
    }

    &__photo-composition {
      position: relative;
      width: 100%;
      min-height: 380px;
    }

    &__right {
      display: none;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 32px;
    }

    &__subtitle {
      font-size: 14px;

      br {
        display: none;
      }
    }

    &__cards {
      grid-template-columns: 1fr;
      padding: 0 16px 0 16px;
      margin: clamp(40px, 11vw, 220px) auto 0 auto;
      gap: 16px;
    }

    &__card {
      min-height: clamp(440px, 10vw, 650px);
      padding: clamp(16px, 4vw, 24px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      max-width: 100%;

      &--hidden {
        display: none;
      }

      &--title {
        min-height: 48px;
        margin-bottom: 16px;
        font-size: clamp(16px, 4vw, 26px);
      }

      &--description {
        margin-bottom: 12px;
        font-size: clamp(12px, 3vw, 16px);
      }

      &--awarded {
        min-height: 50px;
        font-size: clamp(12px, 3vw, 16px);
      }
    }

    &__info {
      gap: 0;
      padding: 12px;
    }

    &__img {
      p {
        padding: clamp(16px, 4vw, 24px);
        font-size: clamp(12px, 3vw, 16px);
      }

      img {
        max-width: clamp(266px, 40vw, 300px);
        height: clamp(258px, 39vw, 292px);
      }
    }

    &__photo {
      &--back {
        max-width: clamp(160px, 50vw, 530px);
        max-height: clamp(200px, 46vw, 644px);
      }

      &--middle {
        max-width: clamp(178px, 52vw, 540px);
        max-height: clamp(150px, 33vw, 444px);
      }

      &--main {
        max-width: clamp(178px, 45vw, 540px);
        max-height: clamp(150px, 35vw, 444px);
      }
    }
  }

  @media (max-width: 430px) {
    &__img {
      p {
        padding: 8px;
      }

      img {
        max-width: clamp(190px, 49vw, 300px);
        height: clamp(180px, 56vw, 292px);
      }
    }

    &__info {
      gap: 0;
      padding: 8px;
    }
  }
}

.multimedia-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b2;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.active {
    display: flex;
    opacity: 1;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close,
  &__close--mobile {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    cursor: pointer;
    display: flex;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brown-100);
    opacity: 0.7;
    border-radius: 8px;
    width: clamp(32px, 5vw, 56px);
    height: clamp(32px, 5vw, 56px);
    transition: opacity 0.3s ease, transform 0.2s ease;

    &:hover {
      opacity: 1;
    }

    img {
      width: clamp(12px, 3vw, 24px);
      height: clamp(12px, 3vw, 24px);
    }
  }

  &__close--mobile {
    display: none;
  }

  &__image {
    max-width: clamp(500px, 65vw, 900px);
    max-height: 70vh;
    object-fit: contain;
  }

  &__video {
    max-width: clamp(500px, 65vw, 900px);
    max-height: 70vh;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    &__close {
      display: none;
    }

    &__close--mobile {
      display: flex;
      top: -56px;
      right: 16px;
      border-radius: 4px;
    }

    &__image {
      width: calc(100% - 32px);
      max-width: 100%;
    }

    &__video {
      width: calc(100% - 32px);
      max-width: 100%;
    }
  }
}
