.multimedia {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;
  max-height: 100vh;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    padding: 49px;
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-around;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 30%;
    max-width: 462px;
    width: 100%;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__img--mobile {
    display: none;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    color: var(--color-brown-300);
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
  }

  &__subtitle {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 1.1;
    color: var(--color-brown-300);
    letter-spacing: -0.03em;
  }

  &__note {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1;
    color: var(--color-beige-300);
    text-transform: uppercase;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 538px);
    gap: 40px;
    width: 100%;
    padding: 16px;
    margin-top: 12%;
    padding: 0 16px 0 10.9375vw;
  }

  &__card {
    position: relative;
    background-color: var(--color-beige-100);
    border-radius: 8px;
    overflow: hidden;
    min-height: 598px;
    display: flex;
    z-index: 2;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("../assets/icons/multimedia_background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
    }

    &--title {
      font-size: clamp(16px, 2.5vw, 26px);
      line-height: 1.1;
      color: var(--color-brown-300);
      font-weight: 600;
    }

    &--description {
      font-size: clamp(12px, 2vw, 16px);
      line-height: 1.1;
      color: var(--color-brown-300);
      letter-spacing: -0.03em;
    }

    &--awarded {
      font-size: clamp(12px, 2vw, 16px);
      line-height: 1.1;
      letter-spacing: -0.03em;
      color: var(--color-beige-300);

      span {
        color: var(--color-brown-300);
        font-weight: 600;
      }
    }
  }

  &__clip {
    position: absolute;
    top: -2%;
    right: 25%;
    z-index: 2;
  }

  &__img {
    position: relative;
    z-index: 1;
    // padding: 24px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: clamp(14px, 2vw, 16px);
      color: var(--color-beige-300);
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      padding: 20px;
      font-style: italic;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: 292px;
      position: relative;
      top: -5%;
    }
  }

  &__info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
  }

  @media (max-width: 2000px) {
    &__content {
      justify-content: space-between;
    }
  }

  @media (max-width: 1300px) {
    &__content {
      flex-direction: column;
    }

    &__right {
      max-height: 395px;
    }

    &__left {
      max-width: 100%;
    }

    &__subtitle {
      br {
        display: none;
      }
    }

    &__empty {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    padding: 0;

    &__content {
      flex-direction: column;
      padding: 20px 16px;
      margin: 80px 16px 16px 16px;
      gap: 24px;
    }

    &__left {
      width: 100%;
      max-width: 100%;
    }

    &__img--mobile {
      display: block;
      margin-bottom: 24px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__right {
      display: none;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
      margin-bottom: 40px;

      br {
        display: none;
      }
    }

    &__note {
      font-size: 14px;

      br {
        display: none;
      }
    }

    &__cards {
      grid-template-columns: 1fr;
      padding: 0 16px 16px 16px;
    }

    &__card {
      min-height: 250px;
    }
  }
}
