.people {
  padding: 0 16px;
  display: flex;
  gap: 16px;
  width: 100%;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    width: 100%;
    height: calc(100vh - 32px);
    padding: 32px;
    padding-right: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-image: url("../assets/textures/texture_people.png");
      background-repeat: repeat;
      background-size: auto;
      z-index: 0;
      pointer-events: none;
      mix-blend-mode: screen;
      opacity: 0.3;
    }

    img {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-height: 100%;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
  }

  &__subtitle {
    font-size: 1.8rem;
    line-height: 1;
    color: var(--color-beige-300);
    margin-bottom: 32px;
    z-index: 1;
    position: relative;
  }

  &__title {
    font-size: 5rem;
    line-height: 1;
    color: var(--color-brown-300);
    margin-bottom: 36px;
    z-index: 1;
    position: relative;
  }

  &__description {
    margin-bottom: 32px;
    z-index: 1;
    position: relative;

    p {
      font-size: 1.6rem;
      line-height: 1.1;
      color: var(--color-brown-300);
    }
  }

  &__photo--small {
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: flex-end;

    img {
      width: auto;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__photo--large {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      width: auto;
      max-width: 100%;
      max-height: clamp(400px, 45vw, 772px);
    }
  }
}
