.people {
  --indent: clamp(15px, 1vw, 20px);
  --top: clamp(10px, 1vw, 20px);

  padding: 16px;
  display: flex;
  gap: 24px;
  width: 100%;
  min-height: clamp(700px, 60vw, 1012px);
  max-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: clamp(4px, 0.5vw, 8px);
    padding: clamp(24px, 3vw, 40px) clamp(16px, 3vw, 40px);
    display: flex;
    position: relative;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-image: url("../assets/textures/texture_people.png");
      background-repeat: repeat;
      background-size: auto;
      z-index: 0;
      pointer-events: none;
      mix-blend-mode: screen;
      opacity: 0.3;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__subtitle {
    font-size: clamp(14px, 2vw, 22px);
    line-height: 1;
    color: var(--color-beige-300);
    margin-bottom: 32px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    color: var(--color-brown-300);
    margin-bottom: 36px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 32px;
    z-index: 1;
    position: relative;

    p {
      font-size: clamp(14px, 2vw, 16px);
      line-height: 1.1;
      color: var(--color-brown-300);
    }
  }

  &__photo--small {
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: center;
    position: relative;
    max-width: clamp(178px, 45vw, 840px);
    max-height: clamp(130px, 26vw, 490px);
  }

  &__photo-wrapper {
    display: inline-block;
    width: fit-content;
    position: relative;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/images/people_frame.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      pointer-events: none;
      z-index: 0;
    }
  }

  &__photo-img {
    display: block;
    width: 100%;
    padding: clamp(8px, 1.5vw, 18px);
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  &__tape {
    position: absolute;
    z-index: 2;
    top: calc(-1 * var(--top));
    pointer-events: none;
    max-width: clamp(32px, 4vw, 61px);

    &--left {
      left: calc(-1 * var(--indent));
    }

    &--right {
      right: calc(-1 * var(--indent));
    }
  }

  &__photo--large {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: clamp(160px, 33vw, 638px);
    max-height: clamp(182px, 41vw, 772px);
  }

  &__controls {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  &__description--mobile {
    display: none;
  }

  &__photo--mobile {
    display: none;
  }

  @media (max-width: 768px) {
    padding: 0;
    height: auto;
    max-width: none;
    min-height: auto;

    &__content {
      flex-direction: column;
      min-height: 503px;
      margin: 80px 16px 0 16px;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__wrapper {
      display: block;
      flex: 0;
    }

    &__subtitle {
      margin-bottom: 12px;
      margin-bottom: 24px;

      br {
        display: none;
      }
    }

    &__title {
      margin: 0;
    }

    &__description {
      margin: 0;
      p {
        display: none;
      }
    }

    &__photo--small,
    &__photo--large {
      display: none;
    }

    &__photo--mobile {
      display: block;
      height: clamp(211px, 40vw, 360px);
      position: relative;
      width: 100%;

      .people__photo-composition {
        position: relative;
        max-width: clamp(311px, 61vw, 462px);
        height: 100%;
        min-height: 180px;
        margin: 0 auto;
      }

      .people__photo-wrapper {
        position: absolute;
        width: 70%;
        z-index: 1;
        top: 0;
        height: auto;
      }

      .people__photo-wrapper:first-child {
        z-index: 2;
        left: 10px;
        top: 0;
        max-width: clamp(160px, 32vw, 232px);
      }

      .people__photo-wrapper:last-child {
        z-index: 1;
        right: 10px;
        top: auto;
        bottom: 0;
        max-width: clamp(178px, 48vw, 311px);
      }

      .people__photo-img:first-child {
        max-height: clamp(182px, 37vw, 280px);
      }

      .people__tape {
        max-width: 24px;
        top: -5px;

        &--left {
          left: -10px;
        }

        &--right {
          right: -10px;
        }
      }
    }

    &__controls {
      display: flex;
      margin-top: 16px;
    }

    &__description--mobile {
      display: block;
      width: 100%;
      font-size: 14px;

      br {
        display: none;
      }
    }
  }
}

.people-list {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 1920px;
  margin: clamp(40px, 11vw, 220px) auto;
  padding-left: clamp(85px, 15vw, 210px);

  &__content {
    border-radius: clamp(4px, 0.5vw, 8px);
    width: 100%;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    span {
      color: var(--color-beige-300);
      font-size: clamp(12px, 1vw, 14px);
    }
  }

  &__title {
    font-size: clamp(22px, 3vw, 50px);
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--color-beige-100);
    text-transform: uppercase;
  }

  &__filters {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 76px;
  }

  &__search {
    flex: 1;
    max-width: 334px;
  }

  &__search-input {
    width: 100%;
    padding: 15px 20px;
    padding-left: 48px;
    border: none;
    outline: none;
    border-radius: clamp(4px, 0.5vw, 8px);
    background-color: var(--color-beige-200);
    color: var(--color-brown-300);
    font-size: clamp(12px, 1vw, 16px);
    background-image: url("../assets/icons/prime_search-brown.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 20px 20px;

    &::placeholder {
      color: var(--color-brown-300);
      font-size: clamp(12px, 1vw, 16px);
    }
  }

  &__dropdowns {
    display: flex;
    gap: 16px;
    height: 100%;
  }

  &__alphabet {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-top: 1px solid var(--color-brown-100);
    border-bottom: 1px solid var(--color-brown-100);
  }

  &__alphabet-btn {
    border-radius: clamp(2px, 0.5vw, 4px);
    padding: 26px 0;
    background-color: transparent;
    color: var(--color-brown-100);
    font-size: clamp(16px, 1vw, 18px);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-beige-100);
    }

    &.active {
      color: var(--color-beige-100);
    }
  }

  &__grid {
    display: grid;
    column-gap: 18px;
    grid-template-columns: 1fr 1fr;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // min-height: 474px;
    // gap: 16px;
    // text-align: center;
  }

  &__empty-text {
    font-size: clamp(14px, 2vw, 18px);
    color: var(--color-beige-100);
    line-height: 1.1;
  }

  &__empty-hint {
    font-size: clamp(14px, 2vw, 18px);
    color: var(--color-beige-300);
    line-height: 1.1;
  }

  &__card {
    width: 100%;
    display: flex;
    max-height: clamp(194px, 32vw, 474px);
    min-height: clamp(194px, 32vw, 474px);
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/people_background.jpg");
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 18px;

    &:hover {
      .people-list__arrow {
        transform: translateX(4px);
      }
    }
  }

  &__left {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    position: relative;
    padding: clamp(12px, 3vw, 24px);
    gap: 24px;

    &::before {
      content: "";
      position: absolute;
      top: clamp(4px, 1vw, 8px);
      left: clamp(4px, 1vw, 8px);
      bottom: clamp(4px, 1vw, 8px);
      right: clamp(8px, 1.5vw, 16px);
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: clamp(2px, 0.5vw, 4px);
    }
  }

  &__arrow {
    transition: transform 0.3s ease;
  }

  &__name {
    font-size: clamp(14px, 1.7vw, 26px);
    line-height: 1.1;
    color: var(--color-brown-300);
    font-weight: 600;
    min-height: 115px;
  }

  &__post {
    font-size: clamp(11px, 1vw, 16px);
    line-height: 1.1;
    color: var(--color-beige-300);
  }

  &__factory {
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      color: var(--color-beige-300);
      font-size: clamp(10px, 1vw, 18px);
      line-height: 1.1;
    }

    img {
      width: clamp(16px, 1vw, 18px);
      height: clamp(16px, 1vw, 18px);
    }
  }

  &__right {
    flex: 1;
    width: 50%;
    padding: clamp(12px, 1vw, 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: opacity 0.6s ease;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1.2s ease;
      mask-image: url("../assets/masks/mask_photo-medium.png");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("../assets/masks/mask_photo-medium.png");
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      inset: clamp(4px, 1vw, 8px);
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: clamp(2px, 0.5vw, 4px);
    }
  }

  &__stamp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(64px, 9vw, 158px);
    height: clamp(64px, 9vw, 158px);
    opacity: 0;
    transition: opacity 1.2s ease;
    transition-delay: 0s;
    z-index: 3;
    bottom: 30px;
  }

  &__card.hovered {
    .people-list__right {
      img {
        opacity: 1;
      }
    }

    .people-list__stamp {
      opacity: 1;
      transition-delay: 1s;
    }
  }

  @media (max-width: 768px) {
    padding-left: 0;
    gap: 0;

    &__header {
      justify-content: flex-start;
      padding-left: 16px;
      margin-bottom: 24px;
    }

    &__content {
      padding: 0;
      gap: 0;
    }

    &__right {
      max-height: 100%;

      img {
        mask-image: url("../assets/masks/mask.png");
        opacity: 1;
      }
    }

    &__left {
      gap: 12px;
    }

    &__stamp {
      opacity: 1;
    }

    &__filters {
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      margin-bottom: 0;
    }

    &__alphabet {
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      margin-left: 16px;
      padding-right: 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__name {
      margin-bottom: 12px;
      font-size: clamp(14px, 4vw, 26px);
      min-height: auto;
    }

    &__post {
      font-size: clamp(12px, 3vw, 16px);
    }

    &__factory {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-right: 4px;

      img {
        width: 16px;
        height: 16px;
      }

      p {
        font-size: clamp(12px, 3vw, 18px);
      }
    }

    &__dropdowns {
      width: 100%;
    }

    &__search {
      width: 100%;
      max-width: 100%;
      order: 2;
    }

    &__empty {
      padding: 0 16px;
      margin-top: 32px;
    }

    &__empty-text {
      margin-bottom: 32px;
    }

    &__grid {
      grid-template-columns: 1fr;
      min-height: auto;
      padding: 16px;
    }

    &__stamp {
      bottom: clamp(32px, 7vw, 50px);
      width: clamp(64px, 16vw, 158px);
      height: clamp(64px, 16vw, 158px);
    }

    &__card {
      max-height: clamp(194px, 50vw, 474px);
      min-height: clamp(194px, 50vw, 474px);
    }
  }
}

@media (max-width: 374px) {
  .dropdown {
    width: 100%;
  }

  .people-list {
    &__dropdowns {
      flex-direction: column;
    }
  }
}
