.people {
  padding: 16px;
  display: flex;
  gap: 16px;
  width: 100%;

  &__content {
    background-color: var(--color-warm-beige);
    border-radius: 8px;
    padding: 32px;
    padding-right: 0;
    display: flex;
    position: relative;
    max-height: calc(100vh - 32px);
    gap: 16px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-image: url("../assets/textures/texture_people.png");
      background-repeat: repeat;
      background-size: auto;
      z-index: 0;
      pointer-events: none;
      mix-blend-mode: screen;
      opacity: 0.3;
      width: 100%;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
    justify-content: space-between;
    flex: 1;
  }

  &__subtitle {
    font-size: clamp(14px, 2vw, 22px);
    line-height: 1;
    color: var(--color-beige-300);
    margin-bottom: 32px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    line-height: 1;
    color: var(--color-brown-300);
    margin-bottom: 36px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 32px;
    z-index: 1;
    position: relative;

    p {
      font-size: clamp(14px, 2vw, 16px);
      line-height: 1.1;
      color: var(--color-brown-300);
    }
  }

  &__photo--small {
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: flex-end;

    img {
      height: auto;
      max-height: 100%;
      object-fit: contain;
      object-position: bottom;
      max-width: clamp(178px, 45vw, 840px);
    }
  }

  &__photo--large {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      width: auto;
      max-width: 100%;
      max-height: clamp(182px, 45vw, 772px);
    }
  }

  &__controls {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  &__description--mobile {
    display: none;
  }

  &__photo--mobile {
    display: none;
  }

  @media (max-width: 768px) {
    padding: 0;

    &__content {
      flex-direction: column;
      padding: 24px;
      padding-bottom: 16px;
      height: 503px;
      margin: 80px 16px 0 16px;
      border-radius: 4px;
      justify-content: space-between;
    }

    &__wrapper {
      display: block;
      flex: 0;
    }

    &__subtitle {
      font-size: 1.2rem;
      margin-bottom: 12px;
      margin-bottom: 24px;

      br {
        display: none;
      }
    }

    &__title {
      font-size: 2.4rem;
      margin: 0;
    }

    &__description {
      margin: 0;
      p {
        display: none;
      }
    }

    &__photo--small,
    &__photo--large {
      display: none;
    }

    &__photo--mobile {
      display: block;
      max-width: clamp(311px, 60vw, 500px);
      height: clamp(211px, 40vw, 360px);
      display: flex;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__controls {
      display: flex;
      margin-top: 16px;
    }

    &__description--mobile {
      display: block;
      width: 100%;
      font-size: 1.4rem;

      br {
        display: none;
      }
    }
  }
}
