.search {
  display: flex;
  padding: 16px 16px 0 16px;
  gap: 16px;
  max-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;

  &__sections {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 6vw, 120px);
    margin-bottom: clamp(40px, 6vw, 120px);
  }

  .menu {
    min-height: clamp(700px, 60vw, 1012px);
    max-height: clamp(700px, 60vw, 1012px);
  }

  &__section {
    width: 100%;
    min-height: clamp(700px, 60vw, 1012px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  &--with-results {
    .search__section {
      min-height: auto;
      max-height: none;
      align-items: flex-start;
      padding-top: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-height: 160px;
  }

  &__input {
    max-width: 838px;
    width: 100%;
    padding: 26px 50px 26px 28px;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-beige-300);
    background-color: var(--color-beige-100);
    border: none;
    border-radius: 12px;
    outline: none;
    transition: all 0.3s ease;
    color: var(--color-brown-300);
    max-height: 72px;

    background-image: url("../assets/icons/prime_search-brown.svg");
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 24px 24px;

    &::placeholder {
      color: var(--color-beige-300);
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &__results-message {
    font-size: clamp(14px, 1.5vw, 18px);
    color: var(--color-beige-300);
    text-align: center;
    line-height: 1.1;
    animation: fadeIn 0.5s ease;
  }

  &__results {
    font-size: clamp(14px, 1.5vw, 18px);
    color: var(--color-beige-100);
    line-height: 1.1;
    animation: fadeIn 0.5s ease;
    max-width: 838px;

    span {
      color: var(--color-beige-300);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .search {
    &__section {
      height: auto;
      max-height: 100%;
      min-height: 100%;
    }

    .menu {
      min-height: auto;
      max-height: auto;
    }

    &__wrapper {
      margin-top: 64px;
    }

    &__results {
      gap: 16px;
    }

    &__input {
      padding: 16px 45px 16px 20px;
      font-size: 16px;
      border-radius: 12px;
      background-position: right 16px center;
      background-size: 18px 18px;
    }

    &__input-wrapper {
      min-height: auto;
    }

    &__button {
      right: 15px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.search-people {
  width: 100%;
  max-width: 1920px;
  margin-top: clamp(24px, 3vw, 48px);
  display: none;
  animation: fadeIn 0.5s ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(16px, 2vw, 32px);

    &_wrapper {
      display: flex;
      gap: 2px;

      span {
        font-size: clamp(12px, 1vw, 14px);
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: var(--color-beige-300);
      }
    }
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    color: var(--color-beige-100);
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }

  &__controls {
    display: flex;
    gap: clamp(8px, 1vw, 16px);
  }

  &__arrow {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    img {
      width: clamp(20px, 2.2vw, 32px);
      height: clamp(20px, 2.2vw, 32px);
      display: block;
    }

    &--prev {
      img {
        transform: rotate(180deg);
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__grid {
    display: grid;
    column-gap: 18px;
    grid-template-columns: 1fr 1fr;
  }

  &__card {
    width: 100%;
    display: flex;
    max-height: clamp(194px, 32vw, 474px);
    min-height: clamp(194px, 32vw, 474px);
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/people_background.jpg");
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 18px;

    &:hover {
      .people-list__arrow {
        transform: translateX(4px);
      }
    }
  }

  &__left {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    position: relative;
    padding: clamp(12px, 3vw, 24px);
    gap: 24px;

    &::before {
      content: "";
      position: absolute;
      top: clamp(4px, 1vw, 8px);
      left: clamp(4px, 1vw, 8px);
      bottom: clamp(4px, 1vw, 8px);
      right: clamp(8px, 1.5vw, 16px);
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: clamp(2px, 0.5vw, 4px);
    }
  }

  &__arrow {
    transition: transform 0.3s ease;
  }

  &__name {
    font-size: clamp(14px, 1.7vw, 26px);
    line-height: 1.1;
    color: var(--color-brown-300);
    font-weight: 600;
    min-height: clamp(60px, 6vw, 115px);
  }

  &__post {
    font-size: clamp(11px, 1vw, 16px);
    line-height: 1.1;
    color: var(--color-beige-300);
  }

  &__factory {
    display: flex;
    flex-direction: column;
    gap: 14px;

    p {
      color: var(--color-beige-300);
      font-size: clamp(10px, 1vw, 18px);
      line-height: 1.1;
    }

    img {
      width: clamp(16px, 1vw, 18px);
      height: clamp(16px, 1vw, 18px);
    }
  }

  &__right {
    flex: 1;
    width: 50%;
    padding: clamp(12px, 1vw, 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: opacity 0.6s ease;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      mask-image: url("../assets/masks/mask_photo-medium.png");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("../assets/masks/mask_photo-medium.png");
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      inset: clamp(4px, 1vw, 8px);
      border: 2px solid var(--color-beige-200);
      pointer-events: none;
      z-index: 1;
      border-radius: clamp(2px, 0.5vw, 4px);
    }
  }

  &__stamp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(64px, 9vw, 158px);
    height: clamp(64px, 9vw, 158px);
    transition: opacity 1.2s ease;
    transition-delay: 0s;
    z-index: 3;
    bottom: 30px;
  }
}

@media (max-width: 805px) {
  .search-people {
    &__grid {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .search-people {
    &__card {
      max-height: clamp(194px, 51vw, 474px);
      min-height: clamp(194px, 51vw, 474px);
    }

    &__name {
      min-height: auto;
      font-size: clamp(14px, 4vw, 26px);
      margin-bottom: 12px;
    }

    &__post {
      font-size: clamp(11px, 2vw, 16px);
    }

    &__factory {
      p {
        font-size: clamp(10px, 2vw, 18px);
      }
    }

    &__stamp {
      width: clamp(64px, 15vw, 158px);
      height: clamp(64px, 15vw, 158px);
    }

    &__header {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }
  }
}

.search-factories {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  display: none;
  animation: fadeIn 0.5s ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(16px, 2vw, 32px);

    &_wrapper {
      display: flex;
      gap: 2px;

      span {
        font-size: clamp(12px, 1vw, 14px);
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: var(--color-beige-300);
      }
    }
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    color: var(--color-beige-100);
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }

  &__controls {
    display: flex;
    gap: clamp(8px, 1vw, 16px);
  }

  .history__slider-container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .search-factories {
    &__header {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }
  }
}

.search-events {
  width: 100%;
  max-width: 1920px;
  display: none;
  animation: fadeIn 0.5s ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(16px, 2vw, 32px);

    &_wrapper {
      display: flex;
      gap: 2px;

      span {
        font-size: clamp(12px, 1vw, 14px);
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: var(--color-beige-300);
      }
    }
  }

  &__title {
    font-size: clamp(22px, 4vw, 50px);
    color: var(--color-beige-100);
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }

  &__controls {
    display: flex;
    gap: clamp(8px, 1vw, 16px);
  }

  &__cards {
    display: flex;
    gap: clamp(16px, 2vw, 40px);
    width: 100%;
    transition: transform 0.5s ease;
  }

  &__card {
    background-color: var(--color-beige-100);
    border-radius: clamp(2px, 0.5vw, 4px);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(12px, 1vw, 24px);
    min-height: clamp(440px, 32vw, 614px);
    max-width: clamp(269px, 25vw, 538px);
    min-width: clamp(269px, 25vw, 538px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10px;
      background-image: url("../assets/icons/multimedia_background.svg");
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
    }

    &--title {
      font-size: clamp(16px, 2vw, 26px);
      line-height: 1.1;
      color: var(--color-brown-300);
      font-weight: 600;
      min-height: 56px;
      display: flex;
      align-items: center;
    }

    &--description {
      font-size: clamp(12px, 1vw, 16px);
      line-height: 1.1;
      color: var(--color-brown-300);
      letter-spacing: -0.03em;
      flex: 1;
    }

    &--awarded {
      font-size: clamp(12px, 1vw, 16px);
      line-height: 1.1;
      letter-spacing: -0.03em;
      color: var(--color-beige-300);
      min-height: 60px;

      span {
        color: var(--color-brown-300);
        font-weight: 600;
      }
    }

    &:hover {
      .search-events__clip {
        top: -19px;
        transform: rotate(56deg);
      }
    }
  }

  &__clip {
    position: absolute;
    top: -7px;
    right: 25%;
    z-index: 2;
    transition: transform 1s ease-in-out, top 1s ease-in-out;
  }

  &__img {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    p {
      font-size: clamp(14px, 2vw, 16px);
      color: var(--color-beige-300);
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      padding: 16px 0 0 16px;
      font-style: italic;
    }

    img {
      max-width: clamp(190px, 13vw, 300px);
      height: clamp(226px, 18vw, 292px);
      position: relative;
      top: -5%;
      transform: rotate(2deg);
      mask-image: url("../assets/masks/mask_photo.png");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-image: url("../assets/masks/mask_photo.png");
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      object-fit: cover;
    }
  }

  &__info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px 16px 16px;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .search-events {
    &__header {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }

    &__cards {
      gap: 16px;
    }

    &__cards-wrapper {
      overflow: hidden;
    }

    &__card {
      min-height: clamp(440px, 10vw, 650px);
      padding: clamp(16px, 4vw, 24px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      max-width: 100%;
      min-width: 100%;

      &--hidden {
        display: none;
      }

      &--title {
        min-height: 48px;
        margin-bottom: 16px;
        font-size: clamp(16px, 4vw, 26px);
      }

      &--description {
        margin-bottom: 12px;
        font-size: clamp(12px, 3vw, 16px);
      }

      &--awarded {
        min-height: 50px;
        font-size: clamp(12px, 3vw, 16px);
      }
    }

    &__info {
      gap: 0;
      padding: 12px;
    }

    &__img {
      p {
        padding: clamp(16px, 4vw, 24px);
        font-size: clamp(12px, 3vw, 16px);
      }

      img {
        max-width: clamp(266px, 40vw, 300px);
        height: clamp(258px, 39vw, 292px);
      }
    }
  }
}

@media (max-width: 430px) {
  .search-events {
    &__img {
      p {
        padding: 8px;
      }

      img {
        max-width: clamp(190px, 49vw, 300px);
        height: clamp(180px, 56vw, 292px);
      }
    }

    &__info {
      gap: 0;
      padding: 8px;
    }
  }
}
