@use "base/variables" as *;
@use "base/reset";

@use "pages/factories";
@use "pages/people";
@use "pages/main";
@use "pages/leaders";
@use "pages/multimedia";
@use "pages/awards";
@use "pages/leader";
@use "pages/documents";
@use "pages/employee";
@use "pages/factory-equipment";

@use "components/menu";
@use "components/button";
@use "components/dropdown";
@use "components/cards";
@use "components/factories-search";
@use "components/factories-map";
@use "components/history";
@use "components/anniversary";
@use "components/people-list";
@use "components/contribution";
@use "components/wishes";
@use "components/archive";
@use "components/dynasty";
@use "components/factories-related";
@use "components/interactive-cards";
