@charset "UTF-8";
:root {
  /* Светлые */
  --color-warm-white: #fefaf6;
  --color-warm-beige: #e4ddcb;
  /* Бежевые оттенки */
  --color-beige-100: #e2dad2;
  --color-beige-200: #cfc3b7;
  --color-beige-300: #9b8c87;
  --color-beige-300-50: #9b8c8780; /* 50% прозрачности */
  /* Коричневые оттенки */
  --color-brown-100: #5e524e;
  --color-brown-200: #3b322f;
  --color-brown-300: #2d2421;
  --color-warm-brown: #513e38;
  /* Акценты */
  --color-orange: #f58732;
}

/* Шрифты */
@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/GothamPro/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.menu {
  background-color: var(--color-brown-300);
  border-radius: 8px;
  max-width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px;
  justify-content: space-between;
  color: var(--color-beige-100);
  font-size: 1.6rem;
  text-transform: uppercase;
}
.menu__header {
  width: 100%;
}
.menu__logo {
  max-width: 100%;
  height: auto;
}
.menu__logo--mobile {
  display: none;
}
.menu__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.menu__burger--mobile, .menu__cross--mobile {
  display: none;
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.menu__list--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  color: var(--color-beige-100);
  text-transform: uppercase;
}
.menu__list--mobile a {
  font-size: 1rem;
}
.menu__nav--mobile {
  display: none;
  position: fixed;
  top: -100%;
  width: 100%;
  background-color: var(--color-brown-300);
  padding: 24px 16px;
  transition: top 0.5s ease;
  z-index: 3;
}
.menu__nav--mobile.active {
  top: 48px;
}
.menu__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 30px;
}
.menu__search img {
  max-width: 100%;
  height: auto;
}
.menu__search p {
  cursor: pointer;
  transition: color 0.3s ease;
}
.menu__search p:hover {
  color: var(--color-beige-300);
}

.nav__link {
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: var(--color-beige-300);
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    max-width: 100%;
    max-height: 48px;
    border-radius: 0;
    padding: 8px 16px;
    z-index: 2;
  }
  .menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__logo {
    display: none;
  }
  .menu__logo--mobile {
    display: block;
  }
  .menu__toggle {
    display: block;
  }
  .menu__burger--mobile, .menu__cross--mobile {
    display: block;
  }
  .menu__nav {
    display: none;
  }
  .menu__nav--mobile {
    display: block;
  }
  .menu__footer {
    display: none;
  }
  .menu__search {
    margin: 6px 0 0 0;
  }
  .menu__search p {
    font-size: 1rem;
  }
}
.button__arrow {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__arrow.right img {
  transform: rotate(0);
}

.button__arrow.left img {
  transform: rotate(180deg);
}

.button__arrow.down img {
  transform: rotate(90deg);
}

.button__arrow.brown {
  background: var(--color-brown-100);
}

.button__arrow.beige {
  background: var(--color-beige-300);
}

.button__arrow.small {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.button__arrow.small img {
  width: 12px;
  height: 12px;
}

.dropdown {
  width: 100%;
  max-width: 230px;
}
.dropdown__button {
  width: 100%;
  padding: 15px 20px;
  background: var(--color-brown-300);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.dropdown__button-text {
  color: var(--color-beige-100);
  font-size: 1.6rem;
}
.dropdown__icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}
.dropdown__icon img {
  width: 100%;
  height: 100%;
  rotate: 90deg;
}
.dropdown__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: var(--color-brown-300);
  border-radius: 8px;
}
.dropdown__divider {
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 24px;
}
.dropdown__list {
  max-height: 120px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 20px;
}
.dropdown__item {
  color: var(--color-beige-100);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown_opened .dropdown__icon {
  transform: rotate(180deg);
}

.dropdown_opened .dropdown__content {
  max-height: 152px;
}

.dropdown__list::-webkit-scrollbar {
  width: 4px;
  min-height: 4px;
  margin-right: 10px;
}

.dropdown__list::-webkit-scrollbar-track {
  background: var(--color-brown-100);
  border-radius: 2px;
}

.dropdown__list::-webkit-scrollbar-thumb {
  background: var(--color-brown-200);
  border-radius: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Gotham Pro", sans-serif;
  font-size: 0.520835vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham Pro", sans-serif; /* шрифт по умолчанию по сайту */
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 144rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  html {
    font-size: clamp(10px, 1.8229vw, 14px);
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 3rem;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
