@use "base/variables" as *;
@use "base/reset";

@use "pages/factories";
@use "pages/people";
@use "pages/main";
@use "pages/leaders";

@use "components/menu";
@use "components/button";
@use "components/dropdown";
@use "components/cards";
@use "components/factories-search";
@use "components/factories-map";
@use "components/history";
@use "components/anniversary";
@use "components/people-list";
