<div class="dropdown" id="dropdown">
  <button class="dropdown__button" id="dropdownButton">
    <span class="dropdown__button-text">Годы работы</span>
    <span class="dropdown__icon">
      <img src="../assets/icons/arrow_small.svg" alt="arrow" />
    </span>
  </button>
  <div class="dropdown__content">
    <div class="dropdown__divider"></div>
    <ul class="dropdown__list" id="dropdownList">
      <li class="dropdown__item" data-value="all">Все годы</li>
      <li class="dropdown__item" data-value="1890-1920">1890-1920</li>
      <li class="dropdown__item" data-value="1920-1945">1920-1945</li>
      <li class="dropdown__item" data-value="1945-1970">1945-1970</li>
      <li class="dropdown__item" data-value="1970-2000">1970-2000</li>
      <li class="dropdown__item" data-value="2000-2025">2000-2010</li>
    </ul>
  </div>
</div>
