<div class="dropdown" id="dropdown">
  <button class="dropdown__button" id="dropdownButton">
    <span class="dropdown__button-text">Тип продукции</span>
    <span class="dropdown__icon">
      <img src="../assets/icons/arrow_small.svg" alt="arrow" />
    </span>
  </button>
  <div class="dropdown__content">
    <div class="dropdown__divider"></div>
    <ul class="dropdown__list" id="dropdownList">
      <li class="dropdown__item" data-value="cardboard">Картон</li>
      <li class="dropdown__item" data-value="paper">Бумага</li>
      <li class="dropdown__item" data-value="cellulose">Целлюлоза</li>
      <li class="dropdown__item" data-value="packaging">Упаковка</li>
    </ul>
  </div>
</div>
