<div class="dropdown" id="dropdown">
  <button class="dropdown__button" id="dropdownButton">
    <span class="dropdown__button-text">Фабрика</span>
    <span class="dropdown__icon">
      <img src="../assets/icons/arrow_small.svg" alt="arrow" />
    </span>
  </button>
  <div class="dropdown__content">
    <div class="dropdown__divider"></div>
    <ul class="dropdown__list" id="dropdownList">
      <li class="dropdown__item" data-value="all">Все фабрики</li>
      <li class="dropdown__item" data-value="suhonsky">Сухонская фабрика</li>
      <li class="dropdown__item" data-value="sokol">Сокол</li>
      <li class="dropdown__item" data-value="suhonskaya">Сухонский завод</li>
    </ul>
  </div>
</div>
