<div class="history-card">
  <img src="" alt="icon" class="history-card__logo" />
  <div class="history-card__header">
    <div class="history-card__title-wrapper">
      <h3 class="history-card__title"></h3>
      <img src="../assets/icons/arrow_brown_300.svg" alt="arrow" class="history-card__arrow" />
      <div class="history-card__content">
        <div class="history-card__year-block">
          <p class="history-card__year-label">
            Год<br />
            основания
          </p>
          <p class="history-card__year"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="history-card__image">
    <img src="" alt="" />
  </div>
</div>
