<div class="menu">
  <div class="menu__header">
    <a href="index.html">
      <img src="../assets/icons/logo_full.svg" alt="logo full" class="menu__logo" />
    </a>
    <a href="index.html">
      <img src="../assets/icons/logo.svg" alt="logo" class="menu__logo--mobile" />
    </a>
    <button class="menu__toggle" aria-label="Toggle menu">
      <img src="../assets/icons/menu.svg" alt="burger menu" class="menu__burger--mobile" />
      <img src="../assets/icons/cross.svg" alt="cross" class="menu__cross--mobile hidden" />
    </button>
  </div>

  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="nav__item">
        <a href="factories.html" class="nav__link">
          <p>Фабрики</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="#people" class="nav__link">
          <p>Люди</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="#leaders" class="nav__link">
          <p>Руководители</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="#multimedia" class="nav__link">
          <p>Мультимедиа</p>
        </a>
      </li>
    </ul>
  </nav>

  <div class="menu__footer">
    <div class="menu__search">
      <img src="../assets/icons/prime_search.svg" alt="search" />
      <p>Поиск</p>
    </div>
    <img src="../assets/icons/lines.svg" alt="lines" />
  </div>
</div>

<nav class="menu__nav--mobile">
  <img src="../assets/icons/line_menu.svg" alt="divider" class="menu__divider" />
  <ul class="menu__list--mobile">
    <li class="nav__item">
      <a href="index.html" class="nav__link"> Главная </a>
    </li>
    <li class="nav__item">
      <a href="factories.html" class="nav__link"> Фабрики </a>
    </li>
    <li class="nav__item">
      <a href="#people" class="nav__link"> Люди </a>
    </li>
    <li class="nav__item">
      <a href="#leaders" class="nav__link"> Руководители </a>
    </li>
    <li class="nav__item">
      <a href="#multimedia" class="nav__link"> Мультимедиа </a>
    </li>

    <div class="menu__footer--mobile">
      <div class="menu__search">
        <img src="../assets/icons/prime_search.svg" alt="search" />
        <p>Поиск</p>
      </div>
    </div>
  </ul>
</nav>
