@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Gotham Pro", sans-serif; // шрифт по умолчанию по сайту
  font-size: 0.520835vw; // на разрешении 1920 0.520835vw === 10px, 1rem = 10px
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  padding: 16px;
}

body {
  font-family: "Gotham Pro", sans-serif; /* шрифт по умолчанию по сайту */
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--color-brown-200);

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/textures/texture.png");
    background-repeat: repeat;
    background-size: auto;
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode: multiply;
    opacity: 0.7;
  }
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.container {
  width: 144rem;
  margin: 0 auto;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 3rem; // в моб версии отступ от края задаем для всех контейнеров, а там где не нужно можем точечно убрать
    width: 100%;
  }
}
